@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

input.searchTerm {
    margin-right: 10px;
}

/* Directors */
div.director-row {
    margin-top: 10px;
}